.footer {
  text-align: center;
  background-color: rgba(40, 156, 103, 0.83);
  padding-top: 50px;
  padding-bottom: 30px;

}

.footer a {
  color: white;
  font-size: 36px;
  margin: 0 18px;
  text-shadow: 3px 3px 18px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.footer a:hover{
  text-shadow: 9px 9px 21px rgb(0,0,0);
}

.footer h4{
  letter-spacing: 1px;
  font-size: 15px;

}
